<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="graduation.project.mapper.LocationMapper">
  <resultMap id="BaseResultMap" type="graduation.project.model.Location">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="coordinate_x" jdbcType="DOUBLE" property="coordinateX" />
    <result column="coordinate_y" jdbcType="DOUBLE" property="coordinateY" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, coordinate_x, coordinate_y
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_location
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user_location
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="graduation.project.model.Location">
    insert into t_user_location (id, name, coordinate_x, 
      coordinate_y)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{coordinateX,jdbcType=DOUBLE}, 
      #{coordinateY,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="graduation.project.model.Location">
    insert into t_user_location
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="coordinateX != null">
        coordinate_x,
      </if>
      <if test="coordinateY != null">
        coordinate_y,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="coordinateX != null">
        #{coordinateX,jdbcType=DOUBLE},
      </if>
      <if test="coordinateY != null">
        #{coordinateY,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="graduation.project.model.Location">
    update t_user_location
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="coordinateX != null">
        coordinate_x = #{coordinateX,jdbcType=DOUBLE},
      </if>
      <if test="coordinateY != null">
        coordinate_y = #{coordinateY,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="graduation.project.model.Location">
    update t_user_location
    set name = #{name,jdbcType=VARCHAR},
      coordinate_x = #{coordinateX,jdbcType=DOUBLE},
      coordinate_y = #{coordinateY,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryLoactionByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user_location
    where name = #{name,jdbcType=VARCHAR}
  </select>
</mapper>