<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="graduation.project.mapper.ManagerMapper">
  <resultMap id="BaseResultMap" type="graduation.project.model.Manager">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="manager" jdbcType="VARCHAR" property="manager" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="coordinates_x" jdbcType="DOUBLE" property="coordinatesX" />
    <result column="coordinates_y" jdbcType="DOUBLE" property="coordinatesY" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, manager, password, coordinates_x, coordinates_y
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_manager
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_manager
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="graduation.project.model.Manager">
    insert into t_manager (id, name, manager, 
      password, coordinates_x, coordinates_y
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{coordinatesX,jdbcType=DOUBLE}, #{coordinatesY,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="graduation.project.model.Manager">
    insert into t_manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="manager != null">
        manager,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="coordinatesX != null">
        coordinates_x,
      </if>
      <if test="coordinatesY != null">
        coordinates_y,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="manager != null">
        #{manager,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="coordinatesX != null">
        #{coordinatesX,jdbcType=DOUBLE},
      </if>
      <if test="coordinatesY != null">
        #{coordinatesY,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="graduation.project.model.Manager">
    update t_manager
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="manager != null">
        manager = #{manager,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="coordinatesX != null">
        coordinates_x = #{coordinatesX,jdbcType=DOUBLE},
      </if>
      <if test="coordinatesY != null">
        coordinates_y = #{coordinatesY,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="graduation.project.model.Manager">
    update t_manager
    set name = #{name,jdbcType=VARCHAR},
      manager = #{manager,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      coordinates_x = #{coordinatesX,jdbcType=DOUBLE},
      coordinates_y = #{coordinatesY,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByManageAndPassword" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_manager
    where manager = #{manager,jdbcType=VARCHAR}
    and password = #{password,jdbcType=VARCHAR}
  </select>
  <select id="queryAllManager" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_manager
  </select>
</mapper>