<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
    </style>
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=4bT2wtcbuKYGqEkjxyR3UDIklYwFmVFn"></script>
    <title>游客登录界面</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
    body{
        text-align: center;
    }
    #allmap label{
        margin:0 auto;
        border:1px solid #000;
        width:90%;
        height:70%;
        max-width:none;
    }
</style>
<!--<script type="text/javascript" th:src="@{/js/jquery-3.4.1.js}"></script>-->
<body>
<span>
    <h3>景区分布图</h3>
    <h5>点击小红点即可购买</h5>
    <a th:href="@{/index}">退出</a>
</span>

<div id="allmap"></div>



</div>


</body>
</html>

<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");
    var coordinatesX
    var coordinatesY
    var geolocation = new BMap.Geolocation();
    geolocation.getCurrentPosition(function(r){
        if(this.getStatus() == BMAP_STATUS_SUCCESS){
            var mk = new BMap.Marker(r.point);
            var point = new BMap.Point(r.point.lng,r.point.lat);
            map.centerAndZoom(point,8);
            map.addOverlay(mk);
            // map.panTo(r.point);
            coordinatesX = r.point.lng
            coordinatesY = r.point.lat
            alert('提示：已经获取您的位置');
        }
        else {
            alert('failed'+this.getStatus());
        }
    },{enableHighAccuracy: true})
    map.enableScrollWheelZoom();   //启用滚轮放大缩小，默认禁用
    // 编写自定义函数,创建标注
    function addMarker(point,n){
        var marker = new BMap.Marker(point);
        map.addOverlay(marker);

        var label = new BMap.Label(n.name,{offset:new BMap.Size(20,-10)});
        label.setStyle({
            background: '#5ec6cd',
            border: '1px solid "#ff8355"',
            borderRadius: "5px",
            color: '#fff',
            height: "26px",
            lineHeight: "26px",
            textAlign: "center",
            width: "120px"
        });
        marker.setLabel(label);
        marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画

        marker.addEventListener("click",getAttr);
        function getAttr(){
            window.location.href = "/yudi/add/location?name="+n.manager+"&coordinateX="+coordinatesX+"&coordinateY="+coordinatesY;
        }

    }
    $.ajax({
        type: "post",
        dataType: "json",
        url: '/yudi/spot/display',
        success: function (data) {
            $.each(data,function (i,n) {
                var point = new BMap.Point(n.coordinatesX,n.coordinatesY)
                addMarker(point,n);
            })
        }
    });
</script>
